/* Styles here! */
body {
  background:#000;
  color:lime;
  margin: 0;
}
header {
	background-color: lime;
	color: black;
	padding: 20px 10px;
	position: fixed;
	top:0;
    left:0;
    right:0;
}
h1{
	margin: 0;
}
/* font */
body, input, button, pre {
  font-family: "silkscreen", monospace;
  font-weight: 400;
  -webkit-transition: all 1s ease-in;
}

pre {
	font-size: 1.2em;
	white-space: pre-wrap;       
 	white-space: -moz-pre-wrap;  
 	white-space: -pre-wrap;      
 	white-space: -o-pre-wrap;    
 	word-wrap: break-word;
}

pre.self {
  color:#f90;
}

/* output */
#output {

	margin: 6em 0 8em 0;
  	padding:0 20px;

}

  #welcome {
    height: 50px;
    font-family: monospace;
    margin-bottom:3em;
  }

/* input area */
  #input {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background:#333;
    padding:10px 2.5% 20px 2.5%;
  }

  #input label {
    display:block;
    font-size:16px;
    margin-bottom:10px;
  }

  #input input,
  #input button {
    font-size:24px;
    background:transparent;
    border:1px solid lime;
    color:lime;
    padding:10px 1%;
    outline: none;
  }

  #input input {
    float:left;
    width:75%;
  }

  #input button {
    float:right;
    background:#000;
    width:15%;
    cursor: pointer;
  }

  /* effects */
  .blurry {
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 255, 0, 1);
    -webkit-transition-property:color, text-shadow;  
    -webkit-transition-duration: 3s, 3s;  
    -webkit-transition-timing-function: ease-out, ease-in;
    -moz-transition-property:color, text-shadow;  
    -moz-transition-duration: 3s, 3s;  
    -moz-transition-timing-function: ease-out, ease-in;  
  }

  .reverse-gravity {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
  }

@-webkit-keyframes attack {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.attack {
  -webkit-animation-name: attack;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.mirror {
  -webkit-transform: scale(-1, 1);
  -mozilla-transform: scale(-1, 1);
  transform: scale(-1, -1);
}
