/* Styles here! */
body {
  background:#000;
  color:lime;
  margin: 0;
}
header {
	background-color: lime;
	color: black;
	padding: 20px 10px;
	position: fixed;
	top:0;
    left:0;
    right:0;
}
h1{
	margin: 0;
}
/* font */
body, input, button, pre {
  font-family: "silkscreen", monospace;
  font-weight: 400;
}

pre {
	font-size: 1.2em;
	white-space: pre-wrap;       
 	white-space: -moz-pre-wrap;  
 	white-space: -pre-wrap;      
 	white-space: -o-pre-wrap;    
 	word-wrap: break-word;
}

/* output */
#output {
	margin-top: 6em;
  	padding:0 20px;
}

  #welcome {
    font-family: monospace;
    margin-bottom:3em;
  }

/* input area */
  #input {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background:#333;
    padding:10px 2.5% 20px 2.5%;
  }

  #input label {
    display:block;
    font-size:16px;
    margin-bottom:10px;
  }

  #input input,
  #input button {
    font-size:24px;
    background:transparent;
    border:1px solid lime;
    color:lime;
    padding:10px 1%;
    outline: none;
  }

  #input input {
    float:left;
    width:75%;
  }

  #input button {
    float:right;
    background:#000;
    width:15%;
    cursor: pointer;
  }